
@body-font: "Helvetica Neue", HelveticaNeue, Helvetica,Arial,sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: @body-font;
}

// 老旧浏览器, 直接隐藏页面内容
.ie9 section {
  display: none;
}

.textshadow(@color: rgba(0,0,0, .6)) {
  // text-shadow: 0px 1px 20px rgba(0,0,0,0.6);
  text-shadow: 0px 1px 20px @color;
}

.a(@color: #fff, @hover: #ddd) {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  .textshadow;
  color: @color;
  transition: all .3s;
  
  &:hover {
    color: @hover;
    text-decoration: underline;
  }
}

section {
  height: 100%;
  min-height: 480px;
  position: relative;
  display: flex;
  align-items: center;
}
// 内容区域
.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}